@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
  --primary-orange: hsl(25, 97%, 53%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-light-gray: hsl(217, 12%, 63%);
  --neutral-medium-gray: hsla(216, 12%, 54%);
  --neutral-medium-gray-g: hsla(216, 12%, 54%, 0.205);
  --neutral-dark-blue: hsl(213, 19%, 18%);
  --neutral-very-dark-blue: hsl(216, 12%, 8%);
  
  --font-size: 15px;
  --font-family: 'Overpass';
}

body {
  background-color: var(--neutral-very-dark-blue);
  font-family: var(--font-family);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
}

.container .box {
  background-color: var(--neutral-dark-blue);
  border-radius: 30px;
  width: 400px;
  padding: 32px 39px 32px 32px;
}

.box-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .box > .box__star-icon {
  background-color: var(--neutral-medium-gray-g);
  width: 16.75px;
  height: 16px;
  border-radius: 50%;
  padding: 16px 15.25px 16px 16px;
  margin-bottom: 30px;
}

.container .box > h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}

.container .box > p {
  color: var(--neutral-light-gray);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 18px;
}

.center {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.rating {
  display: flex;
  justify-content: space-between;
}

.circle {
  background-color: var(--neutral-medium-gray-g);
  width: 51px;
  height: 51px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 32px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--neutral-medium-gray);
}

.circle:hover {
  background-color: var(--neutral-medium-gray);
  cursor: pointer;
  color: white;
}

.active {
  background-color: var( --primary-orange);
  color: white;
}

.btn-submit {
  width: 100%;
  height: 45px;
  background-color: var(--primary-orange);
  border: none;
  color: white;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 15px;
  border-radius: 22.5px;
}

.btn-submit:hover {
  background-color: white;
  color: var(--primary-orange);
  cursor: pointer;
}

.hide {
  display: none !important; 
}

.box-confirm__result {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: var(--primary-orange);
  background-color: var(--neutral-medium-gray-g);
  border-radius: 22.5px;
  padding: 4px 20px 4px 20px;
  margin-top: 36px;
  margin-bottom: 32px;
}

.box-confirm__confirm-icon {
  width: 144px;
  height: 96px;
}

.box-confirm > h2 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
}

.box-confirm > p {
  color: var(--neutral-light-gray);
  font-style: normal;
  font-weight: 400;
  font-size: 17.5px;
  line-height: 24px;
  text-align: center;
  margin-top: 15px;
}

@media screen and (max-width: 375px) {
  .container .box {
    background-color: var(--neutral-dark-blue);
    border-radius: 30px;
    width: 327px;
    padding: 24px 24px 32px 24px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .container .box > h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .container .box > p {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
  }
  
  .circle {
    width: 42px;
    height: 42px;
  }
}